PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ginozzi_db?schema=public"
JWT_SECRET="super-secret-ginozzi-jwt-key-2026"
JWT_REFRESH_SECRET="super-secret-ginozzi-jwt-refresh-key-2026"
